<?xml version="1.0" encoding="utf-8"?><!--
~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (c) 2016. This creation of Vidit Kothari (c) cannot be reproduced or modified or resell without prior written consent
  ~~~~~~~~~~~~~~~~~~~~~
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.miwokv2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PhrasesActivity" />
        <activity android:name=".ColorsActivity" />
        <activity android:name=".NumbersActivity" />
        <activity android:name=".FamilyActivity"></activity>
    </application>

</manifest>